# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
.venv/
venv/
ENV/

# IntelliJ IDEA / PyCharm project files
*.iml
.idea/

# Streamlit cache
.streamlit/

# Pytest
.pytest_cache/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints
